body {
   background-color: #FFFFF0;
   font-family: 'Libre Baskerville', serif;
}

a {
    color: #9B84B3;
}

.btn-link {
    color: #9B84B3;
}

#nav-bar-row {
    height: 100px;
}

#popout-menu {
    background-color: #B3B396;
}

#fixed-menu {
    display: none;
}

#toggle-button {
    background-color: #B3B396;
}

#name-container {
    background-color: #B3B396;
}

#name {
    text-align: center;
    text-shadow: 1px 1px #80806B;
    text-decoration: underline;
}

#title {
    text-align: center;
    text-shadow: 1px 1px #80806B;
}

#brand-statement {
    display: none;
}

#brand-statement-accordion {
    text-align: center;
}

#brand-statement-button {
    font-size: 20px;
}

#skills-container {
    margin-top: 20px;
}

#contact-info-container {
    margin-top: 20px;
}

.skills-row {
    height: 50px;
}

.skills-info {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#project-title {
    text-align: center;
    background-color: #B3B396;
    text-decoration: underline;
}

.buffer-space {
    min-height: 15px;
}
